extends ../layouts/index

block content
    .form-container
        h1 New Password 
        form(action="/api/user/new-pass/:token" method="post")
            div 
                label(for="password") Password:
                input(type="password" name="password" id="password" required)
            div
                label(for="cpassword") Confirm Password:
                input(type="password" name="confirmPassword" id="cpassword" required)
            button(type="submit") Update Password
        .register-link
            a(href="/api/user/register") 
    style.
        .register-link {
            margin-top: 20px;
            text-align: center;
        }
        .register-link a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }
        .register-link a:hover {
            color: #0056b3;
        }